.stream {padding-bottom: 5px;}
.panel-body.stream-container {padding-top: 0;}
.stream-header {margin-bottom: 10px;}
.streamAuthor {margin: 0 5px;}
.streamTimestamp {color: #ccc;}
#filter {margin-left: 4px;}
.instagramImg {
    display: block;
    margin: 0px auto;
}

div.instagrmDiv {
    border: 5px solid #ee3e80;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10ppx;
}