extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Albertson's Stadium
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col.sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          p Boise, ID
          .panel.panel-primary
            .panel-heading
              h2.panel-title Info
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; CFB
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; MWC
      .row
        .col-xs-12
          .panel.panel-primary.stream-panel
            .panel-heading
              center
                h1.panel-title Streams
            .panel-body.stream-container
              .row
                .stream
                  .well.well-sm.stream-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.streamAuthor EldadLj 
                    small.streamTimeStamp 8 31 2015
                  .col-xs-12
                    p Check out our seats!
              .row
                .stream
                  .well.well-sm.stream-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                    span.streamAuthor Jessica 
                    small.streamTimeStamp 8 30 2015
                  .col-xs-12
                    p Great Babaganush!
    .col-xs-12.col-md-3
      p.lead Bronco stadium is on Seat-Tweet it has enough fans sending pictures during games!
        