extends layout
include _includes/sharedHTMLfunctions
block content
  script(src="https://cdn.socket.io/socket.io-1.1.0.js")
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp; #{pageHeader.strapLine}
  .row
    .col-xs-12.col-sm-10(ng-controller="locationStreamCtrl")
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="tweet in data.tweets")
          p {{tweet.text}}
          p {{tweet.user.screen_name}}
          p {{tweet.id_str}}  
          p {{tweet.entities.hashtags[0].text}}
          p {{tweet.entities.media[0].media_url}}

          div
            img(src='{{tweet.entities.media[0].media_url}}', style='border:1px solid black;max-width:100%;')

            