extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Seat-Tweet
          small &nbsp; Find the best tweets!
  .row
    .col-xs-12.col-sm-10
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Albretson's Stadium
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default Top 25
          p.address Boise, ID
          p
            span.label.label-warning CFB
            | &nbsp;
            span.label.label-warning MWC
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Albretson's Stadium
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default Top 25
          p.address Boise, ID
          p
            span.label.label-warning CFB
            | &nbsp;
            span.label.label-warning MWC
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Albretson's Stadium
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default Top 25
          p.address Boise, ID
          p
            span.label.label-warning CFB
            | &nbsp;
            span.label.label-warning MWC
            | &nbsp;        
    .col-xs-12.col-sm-2
      .row.list-group
        .col-xs-12.list-group-item
          h6
            center
              a(href='/about/') College Football
        .col-xs-12.list-group-item
          h6
            center
              a(href='/about/') NFL
        .col-xs-12.list-group-item
          h6
            center
              a(href='/about/') NBA